@model Trading.ViewModel.UploadTradeVM
@{
    ViewBag.Title = "Trade";
}
<style>
    .example_e {
        border: none;
        background: linear-gradient(to right, #a43820, #e78e7d) !important;
        color: #ffffff !important;
        font-weight: 100;
        padding: 5px;
        text-transform: capitalize;
        border-radius: 6px;
        display: inline-block;
        transition: all 0.3s ease 0s;
    }

        .example_e:hover {
            color: linear-gradient(to right, #a43820, #e78e7d) !important;
            font-weight: 500 !important;
            letter-spacing: 3px;
            background: #fff;
            -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
            -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
            transition: all 0.3s ease 0s;
        }

    .property-value {
        color: #a43820;
        font-weight: bold;
    }

    .panel-body thead tr {
        background: #B45C48;
        color: #fff;
    }
</style>
@*https://stackoverflow.com/questions/50165910/reference-netstandard-2-0-types-in-asp-net-mvc-5-razor-views-in-net-4-7-1*@
@using (Ajax.BeginForm("Trade", "Home", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "TradeFormDetails"
}))
{
    @Html.AntiForgeryToken()
    <br style="height:5px;" />
    <div class="form-horizontal" id="TradeFormDetails">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (!Model.IsSINoAvailable)
        {
            <div class="form-group">
                <div class="col-md-12 alert alert-warning" role="alert">
                    No Records available for the Instruction No.
                </div>
            </div>
        }
       <!-- <div class="form-group">
            @*@Html.LabelFor(model => model.ShippingId, htmlAttributes: new { @class = "control-label col-md-1" })*@
            <div class="row">
                <div class="col-3">
                    @Html.EditorFor(model => model.ShippingId, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control"
                        }
                    })




                    <label for=""> Instruction No.</label>
                </div>
                <div class="col-2">
                    <input id="submitButton" name="submitButton" type="submit" class="form-control form-control-sm btn btn-primary example_e" value="Search" onclick="location.href='@Url.Action(" Trade", "Home" )'" />
                </div>
                <div class="col-3">
                    <span>Select File :&nbsp;&nbsp;&nbsp;</span><input type="file" name="postedFile" id="postedFile" style="display: inline;" />

                </div>
                <div class="col-2">
                    <input type="submit" value="Upload" id="submitButton" name="submitButton" class="btn btn-primary" onclick="location.href='@Url.Action("Trade", "Home")'" />
                </div>

            </div>
        </div>-->
        <div class="form-group">
            <div class="panel-group" id="accordion">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <p class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseDNF" class="example_e">
                                Shipping Details
                            </a>
                        </p>
                    </div>
                    <div id="collapseDNF" class="panel-collapse collapse show">
                        <div class="panel-body">
                            <table class="table table-bordered table-sm table-striped">
                                <tbody>

                                    <tr>
                                        <td>Trade Sheet Name</td>
                                        <td class="property-value">
                                            @Html.DisplayFor(model => model.Shipping.TradeSheetName, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control"
                                                }
                                            })
                                        </td>
                                        <td>Vendor Code</td>
                                        <td class="property-value">
                                            @Html.DisplayFor(model => model.Shipping.Vender, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class =
"form-control"
                                                }
                                            })
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>SI Date</td>
                                        <td class="property-value">
                                            @Html.DisplayFor(model => model.Shipping.SIDate, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class =
"form-control"
                                                }
                                            })
                                        </td>
                                        <td>SI No</td>
                                        <td class="property-value">
                                            @Html.DisplayFor(model => model.Shipping.SINo, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class =
"form-control"
                                                }
                                            })
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Sold to Party</td>
                                        <td class="property-value">
                                            @Html.DisplayFor(model => model.Shipping.SoldToParty, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control"
                                                }
                                            })
                                        </td>
                                        <td>Ship To Party</td>
                                        <td class="property-value">
                                            @Html.DisplayFor(model => model.Shipping.ShipToParty, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control"
                                                }
                                            })
                                        </td>
                                    </tr>



                                    <tr>
                                        <td>Port Of Discharge</td>
                                        <td class="property-value">
                                            @Html.DisplayFor(model => model.Shipping.PortOfDischarge, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control"
                                                }
                                            })
                                        </td>
                                        <td>Port of Destination</td>
                                        <td class="property-value">
                                            @Html.DisplayFor(model => model.Shipping.FinalDestination, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control"
                                                }
                                            })
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Transportation</td>
                                        <td class="property-value">
                                            @Html.DisplayFor(model => model.Shipping.Transportation, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control"
                                                }
                                            })
                                        </td>
                                        <td>Port Of Loading</td>
                                        <td class="property-value">
                                            @Html.DisplayFor(model => model.Shipping.PortOfLoading, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control"
                                                }
                                            })
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Trade Terms</td>
                                        <td class="property-value">
                                            @Html.DisplayFor(model => model.Shipping.TradeTerms, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class
                                = "form-control"
                                                }
                                            })
                                        </td>
                                        <td>Payment Terms</td>
                                        <td class="property-value">
                                            @Html.DisplayFor(model => model.Shipping.PaymentTerms, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control"
                                                }
                                            })
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>LC No</td>
                                        <td class="property-value">
                                            @Html.DisplayFor(model => model.Shipping.LCNo, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class =
                                "form-control"
                                                }
                                            })
                                        </td>
                                        <td>Freight</td>
                                        <td class="property-value">
                                            @Html.DisplayFor(model => model.Shipping.Freight, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class =
                                "form-control"
                                                }
                                            })
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>BL Consignee</td>
                                        <td class="property-value">
                                            @Html.DisplayFor(model => model.Shipping.BLConsignee, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control"
                                                }
                                            })
                                        </td>
                                        <td>Lc Issuing Bank</td>
                                        <td class="property-value">
                                            @Html.DisplayFor(model => model.Shipping.LCIssuingBank, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control"
                                                }
                                            })
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>LC Issuance Date</td>
                                        <td class="property-value">
                                            @Html.DisplayFor(model => model.Shipping.LCIssuanceDate, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control"
                                                }
                                            })
                                        </td>
                                        <td>Lc Expiry Date</td>
                                        <td class="property-value">
                                            @Html.DisplayFor(model => model.Shipping.LCExpiryDate, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control"
                                                }
                                            })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Shipment Expiry Date</td>
                                        <td class="property-value">
                                            @Html.DisplayFor(model => model.Shipping.ShipmentExpiryDate, new
                                            {
                                                htmlAttributes = new
                                                { @class = "form-control" }
                                            })
                                        </td>
                                        <td>Required BL Date</td>
                                        <td class="property-value">
                                            @Html.DisplayFor(model => model.Shipping.RequiredBLDate, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control"
                                                }
                                            })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Partial Shipment</td>
                                        <td class="property-value">
                                            @Html.DisplayFor(model => model.Shipping.PartialShipment, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control"
                                                }
                                            })
                                        </td>
                                        <td> Trans Shipment </td>
                                        <td class="property-value">
                                            @Html.DisplayFor(model => model.Shipping.TransShipment, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control"
                                                }
                                            })
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <p class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseITF" class="example_e">
                                Shipping Instructions
                            </a>
                        </p>
                    </div>
                    <div id="collapseITF" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-bordered table-sm table-striped">
                                <thead>
                                    <tr style="text-align:center;">
                                        <th>Document Name</th>
                                        <th>No Of Copies</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.DocumentInstructions)
                                    {
                                        <tr>
                                            <td>@item.Instruction</td>
                                            <td style="text-align:right">@item.Copies</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <p class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseKF" class="example_e">
                                Shipping Models
                            </a>
                        </p>
                    </div>
                    <div id="collapseKF" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-bordered table-sm table-striped">
                                <thead>
                                    <tr style="text-align:center;">
                                        <th>PO No</th>
                                        <th>Row No</th>
                                        <th>Model Name</th>
                                        <th>Description</th>
                                        <th>Version</th>
                                        <th>Quantity</th>
                                        <th>BL Model Name</th>
                                        <th>Sales Contract No</th>
                                        <th>Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ShippingModels)
                                    {
                                    <tr>
                                        <td style="text-align:center">@item.PONo</td>
                                        <td style="text-align:center">@item.LineNo</td>
                                        <td>@item.ModelName</td>
                                        <td>@item.Description</td>
                                        <td>@item.Version</td>
                                        <td style="text-align:right">@item.Quantity</td>
                                        <td>@item.BLModelName</td>
                                        <td>@item.SCNo</td>
                                        <td>@item.Remarks</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                            <!--<div class="row">
                                <div class="col-md-2">PONo</div>
                                <div class="col-md-2">Description</div>
                                <div class="col-md-2">ModelName</div>
                                <div class="col-md-1">Version</div>
                                <div class="col-md-1">Quantity</div>
                                <div class="col-md-2">BLModelName</div>
                                <div class="col-md-2">Remarks</div>
                                @foreach (var item in Model.ShippingModels)
                                {
                                <div class="row">
                                    <div class="col-md-2 property-value">
                                        @item.PONo
                                    </div>
                                    <div class="col-md-2 property-value">
                                        @item.Description
                                    </div>
                                    <div class="col-md-2 property-value">
                                        @item.ModelName
                                    </div>
                                    <div class="col-md-1 property-value">
                                        @item.Version
                                    </div>
                                    <div class="col-md-1 property-value">
                                        @item.Quantity
                                    </div>
                                    <div class="col-md-2 property-value">
                                        @item.BLModelName
                                    </div>
                                    <div class="col-md-2 property-value">
                                        @item.Remarks
                                    </div>
                                </div>
                                }
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

